body {
    background-color:#90EE90 ; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



form {
    text-align: left;
}
button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #2980b9; 
}